<!-- <div class="outer-container">
    <div class="text-container">
        <span> Please Enter Camp Search </span>
        <span class="small-text"> Criteria Above </span>

        <mat-chip-list>
            <mat-chip>Sport</mat-chip>
            <mat-chip>Activity</mat-chip>
            <mat-chip color="primary" selected>Location</mat-chip>
            <mat-chip color="accent" selected>Date</mat-chip>
        </mat-chip-list>

    </div>
</div> -->

<div class="landing-container">
    <div class="landing-container-row">
        <div class="landing-card">
            <img class="landing-image" src="/assets/camp.jpg">
            <div class="landing-panel">
                <h3 class="camp-heading">Day Camps</h3>
                <p class="camp-content">Day camps give kids a summer getaway and offer parents a break from daycare. Kids: scoot off to camp
                    for the day, make new friends, learn new skills and get home in time for dinner. Find outstanding
                    day camps near you.</p>
                <a class="camp-button" style="color:#fff;">Find day camps</a>
            </div>
        </div>

        <div class="landing-card">
            <img class="landing-image" src="/assets/camp.jpg">
            <div class="landing-panel">
                <h3 class="camp-heading">Overnight Camps</h3>
                <p class="camp-content">Overnight camps offer total immersion in summer camp. Check out the camp closely, then confidently
                    send your child to an overnight or residential camp, where they participate in the classic camp
                    experience!</p>
                <a class="camp-button" style="color:#fff;">Find overnight camps</a>
            </div>
        </div>

        <div class="landing-card">
            <img class="landing-image" src="/assets/camp.jpg">
            <div class="landing-panel">
                <h3 class="camp-heading">After-school programs</h3>
                <p class="camp-content">After-school programs and activities help children develop an ability or interest, introduce them to
                    new friends and teach important life skills like leadership and team work. Sports, arts, and
                    education programs are profiled.</p>
                <a class="camp-button" style="color:#fff;">Find after-school programs</a>
            </div>
        </div>

    </div>

</div>