$color-background-order-tracking-active: rgb(28, 129, 80) !default;
$color-background-order-tracking-inactive: rgb(204, 204, 204) !default;
$color-text-active: rgb(28, 129, 80) !default;
$color-background-button-brand: rgb(203, 72, 20) !default;
$color-background-button-brand-hover: rgb(203, 72, 20) !default;
$color-background-button-brand-disabled: rgb(242, 242, 242) !default;
$color-background-button-default: rgb(255, 255, 255) !default;
$color-background-button-default-hover: rgb(242, 242, 242) !default;
$color-background-button-default-active: rgb(242, 242, 242) !default;
$color-background-button-default-disabled: rgb(255, 255, 255) !default;
$color-background-button-inverse: rgba(0, 0, 0, 0) !default;
$color-background-button-inverse-disabled: rgba(0, 0, 0, 0) !default;
$height-button: 1.875rem !default;
$color-fill-checkout-icon-complete: rgb(28, 129, 80) !default;
$color-fill-checkout-icon-cancel: rgb(255, 255, 255) !default;
$width-credit-card-icon: 51px !default;
$height-credit-card-icon: 32px !default;
$color-background-depot-black: rgb(0, 0, 0) !default;
$color-background-burnt-orange: rgb(203, 72, 20) !default;
$color-background-concrete: rgb(242, 242, 242) !default;
$color-background-dark-green: rgb(28, 129, 80) !default;
$color-background-depot-orange: rgb(245, 130, 32) !default;
$color-background-dove-gray: rgb(102, 102, 102) !default;
$color-background-mine-shaft: rgb(51, 51, 51) !default;
$color-background-red: rgb(212, 0, 3) !default;
$color-background-silver: rgb(204, 204, 204) !default;
$color-background-white: rgb(255, 255, 255) !default;
$color-fill-depot-black: rgb(0, 0, 0) !default;
$color-fill-burnt-orange: rgb(203, 72, 20) !default;
$color-fill-concrete: rgb(242, 242, 242) !default;
$color-fill-dark-green: rgb(28, 129, 80) !default;
$color-fill-depot-orange: rgb(245, 130, 32) !default;
$color-fill-dove-gray: rgb(102, 102, 102) !default;
$color-fill-mine-shaft: rgb(51, 51, 51) !default;
$color-fill-red: rgb(212, 0, 3) !default;
$color-fill-silver: rgb(204, 204, 204) !default;
$color-fill-white: rgb(255, 255, 255) !default;
$color-background-sliver-banner-silver: rgb(242, 242, 242) !default;
$color-background-tab: rgb(242, 242, 242) !default;
$color-background-tab-active: rgb(255, 255, 255) !default;
$color-background-carousel-dot: rgb(204, 204, 204) !default;
$color-background-carousel-dot-active: rgb(203, 72, 20) !default;
$color-background-carousel-dot-hover: rgb(245, 130, 32) !default;
$color-fill-carousel-arrow: rgb(203, 72, 20) !default;
$color-fill-carousel-arrow-white: rgb(255, 255, 255) !default;
$color-fill-carousel-arrow-hover: rgb(245, 130, 32) !default;
$color-fill-carousel-arrow-disabled: rgb(204, 204, 204) !default;
$color-border-silver: rgb(204, 204, 204) !default;
$color-border-burnt-orange: rgb(203, 72, 20) !default;
$color-border-dark-green: rgb(28, 129, 80) !default;
$color-border-depot-orange: rgb(245, 130, 32) !default;
$color-border-dove-gray: rgb(102, 102, 102) !default;
$color-border-line-divider: rgb(204, 204, 204) !default;
$color-border-tab: rgb(204, 204, 204) !default;
$color-border-tab-bottom-active: rgb(255, 255, 255) !default;
$shadow-cms-banner-text: 0 0 4px #000000 !default;
$shadow-cms-banner-text-inverse: 0 0 4px #ffffff !default;
$square-carousel-dot: 0.625rem !default;
$square-section-title-icon: 6rem !default;
$square-carousel-thumbnail: 2rem !default;
$color-text-depot-black: rgb(0, 0, 0) !default;
$color-text-burnt-orange: rgb(203, 72, 20) !default;
$color-text-concrete: rgb(242, 242, 242) !default;
$color-text-dark-green: rgb(28, 129, 80) !default;
$color-text-depot-orange: rgb(245, 130, 32) !default;
$color-text-dove-gray: rgb(102, 102, 102) !default;
$color-text-mine-shaft: rgb(51, 51, 51) !default;
$color-text-red: rgb(212, 0, 3) !default;
$color-text-silver: rgb(204, 204, 204) !default;
$color-text-white: rgb(255, 255, 255) !default;
$color-text-title-depot-black: rgb(0, 0, 0) !default;
$color-text-title-burnt-orange: rgb(203, 72, 20) !default;
$color-text-title-concrete: rgb(242, 242, 242) !default;
$color-text-title-dark-green: rgb(28, 129, 80) !default;
$color-text-title-depot-orange: rgb(245, 130, 32) !default;
$color-text-title-dove-gray: rgb(102, 102, 102) !default;
$color-text-title-mine-shaft: rgb(51, 51, 51) !default;
$color-text-title-red: rgb(212, 0, 3) !default;
$color-text-title-silver: rgb(204, 204, 204) !default;
$color-text-title-white: rgb(255, 255, 255) !default;
$color-autosuggest-detail-background: rgb(242, 242, 242) !default;
$color-background-flyout: rgb(242, 242, 242) !default;
$color-flyout-icon-accordion: rgb(153, 153, 153) !default;
$flyout-shopbydpt-l-one-vertical-padding: 0.375rem !default;
$global-header-background-color: rgb(255, 255, 255) !default;
$global-header-logo-size-sm: 3.5rem !default;
$global-header-logo-size-md: 2.8125rem !default;
$global-header-logo-size-lg: 4.6875rem !default;
$global-header-icon-button-min-width: 2.625rem !default;
$global-header-cart-badge-offset: 0.5rem !default;
$mobile-menu-button-width: 3.25rem !default;
$color-global-header-nav-background: rgb(255, 255, 255) !default;
$height-context-bar: 2.5rem !default;
$global-header-nav-icon-font-size: 1.25rem !default;
$global-header-nav-label-font-size: 0.875rem !default;
$global-header-nav-width-small: 2.875rem !default;
$color-global-header-nav-default: rgb(51, 51, 51) !default;
$color-global-header-nav-hover: rgb(203, 72, 20) !default;
$global-header-store-icon-lg: 2rem !default;
$global-header-store-icon-md: 1.5rem !default;
$color-background-scarf: rgb(203, 72, 20) !default;
$shadow-scarf: 0 4px 8px -4px rgba(0, 0, 0, 0.3) inset !default;
$color-background-accordion-header: rgb(242, 242, 242) !default;
$card-color-background: rgb(255, 255, 255) !default;
$card-spacing-small: 0.75rem !default;
$card-spacing-medium: 1rem !default;
$card-spacing-large: 1.5rem !default;
$color-background-form-field: rgb(251, 251, 251) !default;
$color-background-form-field-active: rgb(255, 255, 255) !default;
$color-background-form-field-disabled: rgb(229, 229, 229) !default;
$color-background-form-field-error: rgb(212, 0, 3) !default;
$color-background-form-field-valid: rgb(255, 255, 255) !default;
$color-background-form-field-action-button: rgb(245, 130, 32) !default;
$color-background-form-field-action-button-hover: rgb(203, 72, 20) !default;
$color-background-form-field-action-button-active: rgb(203, 72, 20) !default;
$color-background-form-field-action-button-disabled: rgb(242, 242, 242) !default;
$color-background-form-field-stepper-button: rgb(251, 251, 251) !default;
$color-background-form-field-stepper-button-hover: rgb(255, 255, 255) !default;
$color-background-form-field-stepper-button-active: rgb(242, 242, 242) !default;
$color-background-form-field-stepper-button-disabled: rgb(242, 242, 242) !default;
$color-background-form-field-helper-action-button: rgba(0, 0, 0, 0) !default;
$color-background-form-field-helper-action-button-hover: rgb(229, 229, 229) !default;
$color-background-form-field-helper-action-button-active: rgb(229, 229, 229) !default;
$color-background-form-field-helper-action-button-disabled: rgba(0, 0, 0, 0) !default;
$color-background-form-field-toggle: rgb(102, 102, 102) !default;
$color-background-form-field-toggle-hover: rgb(153, 153, 153) !default;
$color-background-form-field-toggle-active: rgb(245, 130, 32) !default;
$color-background-form-field-toggle-error: rgb(212, 0, 3) !default;
$color-background-form-field-toggle-disabled: rgb(242, 242, 242) !default;
$color-background-form-field-toggle-slider: rgb(255, 255, 255) !default;
$color-background-form-field-toggle-slider-hover: rgb(255, 255, 255) !default;
$color-background-form-field-toggle-slider-active: rgb(255, 255, 255) !default;
$color-background-form-field-toggle-slider-disabled: rgb(204, 204, 204) !default;
$color-background-form-field-toggle-slider-active-disabled: rgb(255, 255, 255) !default;
$color-background-form-field-checkbox: rgb(251, 251, 251) !default;
$color-background-form-field-checkbox-hover: rgb(255, 255, 255) !default;
$color-background-form-field-checkbox-active: rgb(255, 255, 255) !default;
$color-background-form-field-checkbox-disabled: rgb(229, 229, 229) !default;
$color-background-form-field-checkbox-error: rgb(212, 0, 3) !default;
$color-background-form-field-checkbox-valid: rgb(255, 255, 255) !default;
$color-background-form-field-checkbox-indeterminate-mark: rgb(203, 72, 20) !default;
$color-background-form-field-checkbox-indeterminate-mark-disabled: rgb(204, 204, 204) !default;
$color-background-form-field-checkbox-indeterminate-mark-error: rgb(212, 0, 3) !default;
$color-background-form-field-checkbox-indeterminate-mark-valid: rgb(28, 129, 80) !default;
$color-background-form-field-radio-mark: rgb(203, 72, 20) !default;
$color-background-form-field-radio-mark-disabled: rgb(204, 204, 204) !default;
$color-background-form-field-radio-mark-error: rgb(212, 0, 3) !default;
$color-background-form-field-radio-mark-valid: rgb(28, 129, 80) !default;
$color-fill-form-field-action-button-icon: rgb(255, 255, 255) !default;
$color-fill-form-field-action-button-icon-hover: rgb(255, 255, 255) !default;
$color-fill-form-field-action-button-icon-active: rgb(255, 255, 255) !default;
$color-fill-form-field-action-button-icon-disabled: rgb(102, 102, 102) !default;
$color-fill-form-field-stepper-button-icon: rgb(245, 130, 32) !default;
$color-fill-form-field-stepper-button-icon-hover: rgb(245, 130, 32) !default;
$color-fill-form-field-stepper-button-icon-active: rgb(245, 130, 32) !default;
$color-fill-form-field-stepper-button-icon-disabled: rgb(102, 102, 102) !default;
$color-fill-form-field-indicator-icon: rgb(102, 102, 102) !default;
$color-fill-form-field-indicator-icon-error: rgb(212, 0, 3) !default;
$color-fill-form-field-indicator-icon-valid: rgb(28, 129, 80) !default;
$color-fill-form-field-helper-action-button-icon: rgb(102, 102, 102) !default;
$color-fill-form-field-helper-action-button-icon-hover: rgb(245, 130, 32) !default;
$color-fill-form-field-helper-action-button-icon-active: rgb(245, 130, 32) !default;
$color-fill-form-field-helper-action-button-icon-disabled: rgb(102, 102, 102) !default;
$color-fill-form-field-tooltip-icon: rgb(245, 130, 32) !default;
$global-header-input-icon-color: rgb(245, 130, 32) !default;
$color-border-form-field: rgb(204, 204, 204) !default;
$color-border-form-field-active: rgb(153, 153, 153) !default;
$color-border-form-field-disabled: rgb(229, 229, 229) !default;
$color-border-form-field-error: rgb(212, 0, 3) !default;
$color-border-form-field-valid: rgb(28, 129, 80) !default;
$color-border-form-field-checkbox: rgb(153, 153, 153) !default;
$color-border-form-field-checkbox-hover: rgb(245, 130, 32) !default;
$color-border-form-field-checkbox-active: rgb(153, 153, 153) !default;
$color-border-form-field-checkbox-disabled: rgb(204, 204, 204) !default;
$color-border-form-field-checkbox-error: rgb(212, 0, 3) !default;
$color-border-form-field-checkbox-valid: rgb(28, 129, 80) !default;
$color-border-form-field-stepper-button: rgb(204, 204, 204) !default;
$color-border-form-field-checkbox-check: rgb(203, 72, 20) !default;
$color-border-form-field-checkbox-check-error: rgb(212, 0, 3) !default;
$color-border-form-field-checkbox-check-valid: rgb(28, 129, 80) !default;
$color-border-form-field-checkbox-check-disabled: rgb(204, 204, 204) !default;
$color-border-form-field-toggle-check: rgb(255, 255, 255) !default;
$color-border-form-field-toggle-check-error: rgb(212, 0, 3) !default;
$color-border-form-field-toggle-check-valid: rgb(28, 129, 80) !default;
$color-border-form-field-toggle-check-disabled: rgb(204, 204, 204) !default;
$border-radius-form-field: .125rem !default;
$border-radius-form-field-toggle: 15rem !default;
$border-radius-form-field-toggle-slider: 50% !default;
$shadow-form-field-active: 0 0 4px #f58220 !default;
$shadow-form-field-error: 0 0 4px #d40003 !default;
$shadow-form-field-valid: 0 0 4px #1c8150 !default;
$shadow-form-field-action-button: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2) !default;
$shadow-form-field-action-button-active: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5) !default;
$shadow-form-field-action-button-disabled: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2) !default;
$shadow-form-field-stepper-button-active: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5) !default;
$shadow-form-field-toggle: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2) !default;
$shadow-form-field-toggle-active: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1) !default;
$shadow-form-field-toggle-slider: 0 1px 3px rgba(0, 0, 0, 0.2) !default;
$shadow-form-field-checkbox: inset 0 4px 4px -3px rgba(0, 0, 0, 0.1) !default;
$border-width-form-field: 0.0625rem !default;
$border-width-form-field-checkbox-check: 0.125rem !default;
$border-width-form-field-radio-active: 0.125rem !default;
$width-form-field-select-icon: 0.25rem !default;
$height-form-field-select-icon: 0.375rem !default;
$width-form-field-toggle: 3rem !default;
$height-form-field-toggle: 1.5rem !default;
$width-form-field-checkbox-check: 0.45rem !default;
$height-form-field-checkbox-check: 0.7rem !default;
$width-form-field-checkbox-indeterminate-mark: 0.5rem !default;
$height-form-field-checkbox-indeterminate-mark: 0.125rem !default;
$square-form-field-toggle-slider: 1.25rem !default;
$global-header-input-height: 2.5rem !default;
$global-header-input-height-mobile: 3.5rem !default;
$global-header-input-padding: .5rem !default;
$global-header-dropdown-minimum-width: 13rem !default;
$square-form-field-checkbox: 1.125rem !default;
$square-form-field-checkbox-large: 1.5rem !default;
$square-form-field-radio-mark: 0.625rem !default;
$dropdown-item-height: 2.685rem !default;
$global-header-input-placeholder-color: rgb(102, 102, 102) !default;
$color-text-form-field: rgb(0, 0, 0) !default;
$color-text-form-field-placeholder: rgb(102, 102, 102) !default;
$color-text-form-field-active: rgb(0, 0, 0) !default;
$color-text-form-field-disabled: rgb(153, 153, 153) !default;
$color-text-form-field-error: rgb(212, 0, 3) !default;
$color-text-form-field-valid: rgb(28, 129, 80) !default;
$color-text-form-field-label: rgb(102, 102, 102) !default;
$color-text-form-field-label-active: rgb(51, 51, 51) !default;
$color-text-form-field-label-error: rgb(212, 0, 3) !default;
$color-text-form-field-label-valid: rgb(28, 129, 80) !default;
$color-text-form-field-action-button: rgb(255, 255, 255) !default;
$color-text-form-field-action-button-disabled: rgb(102, 102, 102) !default;
$color-text-form-field-stepper-button: rgb(245, 130, 32) !default;
$color-text-form-field-stepper-button-disabled: rgb(102, 102, 102) !default;
$color-background-notification-footer: rgb(242, 242, 242) !default;
$color-background-alert-savings: rgb(242, 242, 242) !default;
$color-background-alert-error: rgb(250, 229, 229) !default;
$color-background-alert-warning: rgb(255, 248, 230) !default;
$color-background-alert-info: rgb(233, 240, 246) !default;
$color-background-alert-success: rgb(232, 242, 237) !default;
$color-background-alert-icon: rgb(255, 255, 255) !default;
$color-background-alert-icon-inverse: rgb(51, 51, 51) !default;
$color-border-alert-savings: rgb(204, 204, 204) !default;
$color-border-alert-error: rgb(212, 0, 3) !default;
$color-border-alert-warning: rgb(255, 194, 14) !default;
$color-border-alert-info: rgb(40, 111, 173) !default;
$color-border-alert-success: rgb(28, 129, 80) !default;
$shadow-alert: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.2) !default;
$color-text-alert-savings: rgb(28, 129, 80) !default;
$color-text-alert-error: rgb(212, 0, 3) !default;
$color-text-alert-warning: rgb(51, 51, 51) !default;
$color-text-alert-info: rgb(51, 51, 51) !default;
$color-text-alert-success: rgb(28, 129, 80) !default;
$color-background-tooltip: rgb(51, 51, 51) !default;
$shadow-tooltip: 2px 2px 3px 0 rgba(0, 0, 0, 0.1) !default;
$color-tooltip-trigger: rgb(245, 130, 32) !default;
$square-tooltip-nubbin: 0.5rem !default;
$width-tooltip-small: 7rem !default;
$width-tooltip-medium: 10rem !default;
$width-tooltip-large: 15rem !default;
$plp-product-box-banner-height: 2.25rem !default;
$plp-product-badge-size: 2.25rem !default;
$plp-product-box-no-rating-margin: 2.8125rem !default;
$plp-product-box-swatch-margin-right: 0.45rem !default;
$fbt-product-box-desktop: 13.5rem !default;
$bloomreach-height: 22rem !default;
$font-family-verdana: verdana, sans-serif !default;
$ssl-font-size-xx-small: 8px !default;
$buymore-desc-width: 21.625rem !default;
$donut-chart-height: 44.875rem !default;
$donut-chart-width: 37rem !default;
$donut-chart-width-small: 22.125rem !default;
$credit-transaction-red: rgb(208, 2, 27) !default;
$time-frame-height: 6.25rem !default;
$ssl-text-spacing: 0.03125rem !default;
$width-text-search: 56rem !default;
$width-business-name-small: 19.3125rem !default;
$width-business-name-large: 34rem !default;
$image-icon-size: 6.5625rem !default;
$width-image-wrapper-small: 6.625rem !default;
$width-image-wrapper-medium: 8.1875rem !default;
$width-image-wrapper-large: 9.875rem !default;
$height-image-wrapper-small: 5.5rem !default;
$height-image-wrapper-medium: 7.375rem !default;
$height-image-wrapper-large: 8.125rem !default;
$width-edit-profile-content: 35rem !default;
$width-view-pros-button: 15rem !default;
$profile-services-min-height: 16.5rem !default;
$max-text-width-small: 13.875rem !default;
$max-text-width-medium: 15.625rem !default;
$max-text-width-large: 18.75rem !default;
$home-services-icon-width: 6.125rem !default;
$view-services-button-height: 2.5rem !default;
$color-hdca-card: rgb(245, 245, 245) !default;
$color-border-pro-xtra: rgb(154, 154, 154) !default;
$email-input-width: 24.5rem !default;
$signup-width: 38.1875rem !default;
$loading-button-large: 11.4375rem !default;
$pro-xtra-logo-height: 2.5625rem !default;
$pro-xtra-button-large: 15.5625rem !default;
$pro-xtra-button-medium: 6rem !default;
$pro-xtra-modal-width: 21.9375rem !default;
$pro-xtra-information-width-large: 48.375rem !default;
$hdca-card-width-large: 37rem !default;
$hdca-card-width-small: 19.3125rem !default;
$hdca-card-header-width: 28.6875rem !default;
$color-background-toolrental-container: rgb(242, 242, 242) !default;
$color-background-button-primary: rgb(245, 130, 32) !default;
$color-background-button-primary-hover: rgb(203, 72, 20) !default;
$color-background-button-primary-active: rgb(203, 72, 20) !default;
$color-background-button-primary-disabled: rgb(229, 229, 229) !default;
$color-fill-button-icon-primary: rgb(255, 255, 255) !default;
$color-fill-button-icon-primary-hover: rgb(255, 255, 255) !default;
$color-fill-button-icon-primary-active: rgb(255, 255, 255) !default;
$color-fill-button-icon-primary-disabled: rgb(102, 102, 102) !default;
$color-background-button-secondary: rgba(0, 0, 0, 0) !default;
$color-background-button-secondary-hover: rgb(203, 72, 20) !default;
$color-background-button-secondary-active: rgb(203, 72, 20) !default;
$color-background-button-secondary-disabled: rgb(229, 229, 229) !default;
$color-fill-button-icon-secondary: rgb(203, 72, 20) !default;
$color-fill-button-icon-secondary-hover: rgb(255, 255, 255) !default;
$color-fill-button-icon-secondary-active: rgb(255, 255, 255) !default;
$color-fill-button-icon-secondary-disabled: rgb(102, 102, 102) !default;
$color-background-button-tertiary: rgba(0, 0, 0, 0) !default;
$color-background-button-tertiary-hover: rgb(102, 102, 102) !default;
$color-background-button-tertiary-active: rgb(102, 102, 102) !default;
$color-background-button-tertiary-disabled: rgb(229, 229, 229) !default;
$color-fill-button-icon-tertiary: rgb(102, 102, 102) !default;
$color-fill-button-icon-tertiary-hover: rgb(255, 255, 255) !default;
$color-fill-button-icon-tertiary-active: rgb(255, 255, 255) !default;
$color-fill-button-icon-tertiary-disabled: rgb(102, 102, 102) !default;
$color-background-button-paypal: rgb(255, 255, 255) !default;
$color-background-button-paypal-hover: rgb(242, 242, 242) !default;
$color-background-button-paypal-active: rgb(242, 242, 242) !default;
$color-background-button-paypal-disabled: rgb(229, 229, 229) !default;
$color-fill-button-icon-paypal-disabled: rgb(102, 102, 102) !default;
$color-fill-button-icon-neutral: rgb(203, 72, 20) !default;
$color-fill-button-icon-neutral-disabled: rgb(102, 102, 102) !default;
$color-fill-button-icon-neutral-white: rgb(245, 130, 32) !default;
$color-fill-button-icon-neutral-white-disabled: rgb(204, 204, 204) !default;
$color-border-button-secondary: rgb(203, 72, 20) !default;
$color-border-button-tertiary: rgb(102, 102, 102) !default;
$color-border-button-paypal: rgb(153, 153, 153) !default;
$border-radius-button: .25rem !default;
$color-text-button-primary: rgb(255, 255, 255) !default;
$color-text-button-primary-hover: rgb(255, 255, 255) !default;
$color-text-button-primary-active: rgb(255, 255, 255) !default;
$color-text-button-primary-disabled: rgb(102, 102, 102) !default;
$color-text-button-secondary: rgb(203, 72, 20) !default;
$color-text-button-secondary-hover: rgb(255, 255, 255) !default;
$color-text-button-secondary-active: rgb(255, 255, 255) !default;
$color-text-button-secondary-disabled: rgb(102, 102, 102) !default;
$color-text-button-tertiary: rgb(102, 102, 102) !default;
$color-text-button-tertiary-hover: rgb(255, 255, 255) !default;
$color-text-button-tertiary-active: rgb(255, 255, 255) !default;
$color-text-button-tertiary-disabled: rgb(102, 102, 102) !default;
$color-text-button-paypal: rgb(0, 0, 0) !default;
$color-text-button-paypal-disabled: rgb(102, 102, 102) !default;
$color-text-button-neutral: rgb(0, 0, 0) !default;
$color-text-button-neutral-hover: rgb(0, 0, 0) !default;
$color-text-button-neutral-active: rgb(0, 0, 0) !default;
$color-text-button-neutral-disabled: rgb(102, 102, 102) !default;
$color-text-button-neutral-white: rgb(255, 255, 255) !default;
$color-text-button-neutral-white-hover: rgb(255, 255, 255) !default;
$color-text-button-neutral-white-active: rgb(255, 255, 255) !default;
$color-text-button-neutral-white-disabled: rgb(204, 204, 204) !default;
$shadow-button-primary-active: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5) !default;
$shadow-button-secondary-active: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5) !default;
$shadow-button-tertiary-active: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5) !default;
$shadow-button-paypal-active: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5) !default;
$width-button-min: 7.5rem !default;
$offset-neutral-button-icon: 0.0625rem !default;
$color-background-gradient-video-start: rgb(204, 204, 204) !default;
$color-background-gradient-video-end: rgb(102, 102, 102) !default;