<mat-card (mouseenter)="mouseenter()"  (mouseleave)="mouseleave()">
    <mat-card-content>
        <img mat-card-image src="assets/core-assets/images/background.jpg" alt="Photo of a Shiba Inu">
        <h1> Camp Name</h1>
        <div class="line"></div>
        <div class="address">317 Dundas West, Toronto, Ontario</div>
        <div *ngIf="showWebsite" class= "website-container">
           <label>Website: </label> <a href="www.google.com">www.fucker.com</a>
           <div class="phone-container" style="display:block">
           <label>Phone: </label> <span style="color: orange">647-292-1334</span>
        </div>
        </div>
        <div class="footer-container">
           
            <mat-icon>calendar_today</mat-icon>
            <span> 10/10/2019</span>

            <mat-icon>email</mat-icon>
            <span>Shane.Arthur@gmail.com</span>

        </div>
    </mat-card-content>
</mat-card>