<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(activity)"
   class="menu-list-item">
  {{activity.activityName || activity.campName}}
  <span fxFlex *ngIf="activity.camps && activity.camps.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of activity.camps" [activity]="child" [depth]="depth+1">
  </app-menu-list-item>
</div> 
<div>
  faggot
</div>